//variables de scss


$fuente_principal : 'Raleway' ,sans-serif;


$principal : #33C3F0;
$secundario :#741d51;
$terciario : #e44e52;

//Variables para los tamaños del media query


$telefono : 480px;
$tablet : 780px;
$desktop:1024px;